<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500" rel="stylesheet">
    <%= stylesheet_link_tag "application" %>
    <%= favicon_tag 'images/favicons/favicon-32x32.png' %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0cBU6iRLPGTedVPxFGMtrVyE4pYwH2eA&callback=initMap"
    async defer></script>
    <script>
    var contactform =  document.getElementById('contactform');
    contactform.setAttribute('action', '//formspree.io/' + 'm_remoe' + '@' + 'hotmail' + '.' + 'com');
    </script>

  </body>
</html>
